.board {margin-bottom: 100px;}
.board .board-view {margin: 100px auto 0; border-bottom: 1px solid #fff;}
.board .board-btn {display: inline-block; float: left; margin-top: 60px; padding: 10px 20px; border-radius: 40px; border: 1px solid #01B3FF; font-size: 14px; color: #01B3FF;}

.board-view .view-head {margin:0 auto; padding: 40px 20px 25px; border:solid #b6b6b6; border-width: 4px 0 1px;text-align: left; }
.board-view .view-head .head-type {font-size: 14px; color: #01B3FF;}
.board-view .view-head .head-title {margin-top: 16px; font-size: 24px;}
.board-view .view-head .head-info {display: flex; justify-content:space-between; margin-top: 30px; font-size: 14px; font-weight: 400; color: #7b7b7b;}

.board-view .veiw-body {padding: 100px 50px; border-bottom: 1px solid #b6b6b6;}
.board-view .veiw-body img {display: block; max-width: 450px; margin: 0 auto 40px;}
.board-view .veiw-body p {line-height: 28px; text-align: left; word-break: break-all;}

.board-view .view-comment {padding: 40px 50px;}
.board-view .comment-write {overflow: hidden; padding-bottom: 40px; border-bottom: 1px solid #7b7b7b;}
.board-view .comment-write span {display: inline-block; width: 100%; margin-bottom: 14px; text-align: left; font-size: 14px; }
.board-view .comment-write textarea {width: 100%; height: 140px; padding: 10px 30px; background-color: rgba(255, 255, 255, 0.3); border: 0 none; resize: none;}
.board-view .view-comment .comment-btn {float: right; margin-top: 20px; padding: 10px 20px; border-radius: 40px; border: 1px solid #01B3FF; font-size: 14px; color: #01B3FF;}

.board-view .comment-list {margin-top: 40px;}
.board-view .comment-list .commentItem {overflow: hidden;}
.board-view .comment-list .commentItem-wrap {position: relative;}
.board-view .comment-list .commentItem-wrap::after {content: ''; position: absolute; top: 60px; left: 24px;  width: 2px; height: calc(100% - 50px); background-color: #747474; border-radius: 5px;}
.board-view .comment-list .comment-user {display: flex; align-items: center;}
.board-view .comment-user .user-thumb {overflow: hidden; width: 50px; height: 50px; margin-right: 30px; border-radius: 50%;}
.board-view .comment-user .user-thumb img {width: 100%; height: 100%; object-fit: fill;}
.board-view .comment-user .user-info {width: calc(100% - 80px); display: flex; justify-content: space-between; align-items: center; font-size: 18px; color: #01B3FF; font-weight: 700;} 
.board-view .comment-user .user-date {font-size: 14px; color: #fff; font-weight: 300; color: #7b7b7b;}

.board-view .comment-list .comment-detail {margin-bottom: 10px; padding-left: 80px; font-size: 14px; line-height: 20px; text-align: left; word-break: break-all;}

.board-view .comment-reply {overflow: hidden;float: right; width: calc(100% - 70px); margin: 30px auto; padding-bottom: 40px;}
.board-view .reply-write {overflow: hidden; }
.board-view .reply-write textarea {width: 100%; height: 100px; padding: 10px 20px; background-color: rgba(255, 255, 255, 0.3); border: 0 none; resize: none;}

.board-view .reply-list .replyItem {overflow: hidden; margin-top: 10px;}
.board-view .reply-list .replyItem-wrap {position: relative;}
.board-view .reply-list .replyItem-wrap::after {content: ''; position: absolute; top: 50px; left: 20px;  width: 2px; height: calc(100% - 50px); background-color: #747474; border-radius: 5px;}
.board-view .replyItem .reply-user {display: flex; align-items: center;}
.board-view .reply-user .user-thumb {overflow: hidden; width: 40px; height: 40px; margin-right: 20px; border-radius: 50%;}
.board-view .reply-user .user-thumb img {width: 100%; height: 100%; object-fit: fill;}
.board-view .reply-user .user-info {width: calc(100% - 60px); display: flex; justify-content: space-between; align-items: center; font-size: 16px; color: #01B3FF; font-weight: 700;} 
.board-view .reply-user .user-date {font-size: 12px; color: #fff; font-weight: 300; color: #7b7b7b;}

.board-view .replyItem .reply-detail {margin-bottom: 10px; padding-left: 60px; font-size: 12px; line-height: 20px; text-align: left; word-break: break-all;}